* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

#selecter {
    width: 300px;
    float: left;
}
#imgSelect {
    width: 300px;
    height: 500px;
}
#selecter button {
    width: 145px;
}

#downloader {
    width: 500px;
    padding: 10px;
    background: grey;
    float: left;
}
#downloader progress {
    width: 450px;
}
#downloader #preview {
    margin: auto;
    width: 450px;
    height: 450px;
}
